.container{
    background: black;
    margin: 0;
}
.top-nav{
    display: none;
}
header{
    display: flex;
    justify-content: space-around;
}
.logo{
    background: url(../img/logo.png);
    height: auto;
    width: 20vw;
    flex-grow: 0;
    background-size: cover;
    aspect-ratio: 2/1;
}
.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    color: #dcdcdc;
    flex-grow: 1;

}    
.nav-item{
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: calc(1vw + 1rem);
    font-family: nav;
}
.nav-item:hover{
    text-shadow: 5px 5px 10px #ff3300, 1px 1px 1px #00cc33;
}
/*Заголовок*/
@font-face{
    font-family: bgline;
    src: url(../font/Groboldov.otf);
}
@font-face{
    font-family: nav;
    src: url(../font/Broadsheet\Italic.otf);
}
.bg-line{
    background: url(../img/3-1-1.png) no-repeat;
    aspect-ratio: 3/1;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.head{
    align-self: center;
    font-size: calc(1vw + 3.5rem);
    font-family: bgline;
    letter-spacing: calc(1vw + 10px);
    text-shadow: 2px 2px 1px #dcdcdc;
}
/*Шахматка*/
.line{
    display: flex;
    width: 80%;
    margin: 40px auto;
}
.img1,.img2{
    width:50%;
    object-fit: scale-down;
}
.text1, .text2{
    width: 50%;
    font-size: calc(1vw + 0.5rem);
    color: white;
}
.img1 img, .img2 img{
    width: 100%;
    height: auto;
}
.text1{
    margin-right: 20px;
}
.text2{
    margin-left: 20px;
}
/*footer*/
footer{
    color: #fff0f5;
    display: flex;
    width: 100%;
    background-color: #333333;
}
.footer-nav{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
}
.footer-nav-item{
    font-size: calc(0.2cm +1vw);
}
.icons{
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}
